/*!CK:309579452!*//*1387161419,178163747*/

._5cya{margin-top:8px;padding:0 4px;text-align:center}
._5cya ._5cyb{float:left}
._5cya ._5cyc{float:right}
._5cya.adUnitSliderSimplified{margin-bottom:3px;margin-top:0;padding:0;width:120px}
._5cya.adUnitSliderSimplified ._5cyd ._5k1a{padding-top:4px}
div._149 div{line-height:14px}

#bootloader_s5Nl5 { height: 42px; }
.bootloader_s5Nl5 { display:block !important; }