/*!CK:1815403074!*//*1387163668,178186551*/

._50zb{border-bottom:1px solid #e6e6e6;border-top:1px solid #ccc;margin-left:-18px;padding-left:18px}
html ._50zc{margin-bottom:10px;margin-top:5px}
._1g0r{opacity:.3}
._1g0r:hover{opacity:1}
._5g24{border:1px solid;border-color:#d9d9d9;max-width:398px;overflow:hidden;width:100%}
._5sem ._5g24._5kbs{max-width:none;width:486px}
._5g24._5kbs{width:377px}
._5g26{line-height:13px;margin:8px 8px 1px 10px}
._5g26 a{font-size:11px;font-weight:bold}
._5gta{color:gray;font-size:11px;line-height:15px;margin:0 8px 6px 10px}
._5gta a{color:gray;font-size:11px}
._5lig{background:none;-webkit-border-radius:2px}
._5g27{margin:35px 16px 10px 0}
._5p3y ._5g26 a, ._5p3y ._5gta, ._5p3y ._5gta a{font-size:12px}
.uiStreamStory .videoRedesign .uiVideoThumb, .uiStreamStory .videoRedesign .uiVideoThumb img{max-height:none;max-width:none}
.uiStreamStory .videoRedesign .uiVideoThumb img{display:block}
.uiStreamStory .videoRedesign .uiVideoThumb i{left:50%;margin:-13px 0 0 -17px;top:50%}
.uiStreamStory .videoRedesign .uiVideoThumbLoading i{left:0;margin:0;top:0}
.uiStreamStory .videoRedesign .uiVideoThumb:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

#bootloader_lUuE0 { height: 42px; }
.bootloader_lUuE0 { display:block !important; }